@model TeacherOrganizer.Models.UserModels.UserDto
@{
    ViewData["Title"] = "User Details";
    var roles = ViewBag.Roles as List<string>;
}

<div class="container mt-5">
    <h2 class="mb-4 text-center">User Details</h2>
    <dl class="row">
        <dt class="col-sm-3">ID</dt>
        <dd class="col-sm-9">@Model.Id</dd>

        <dt class="col-sm-3">User Name</dt>
        <dd class="col-sm-9">@Model.UserName</dd>

        <dt class="col-sm-3">First Name</dt>
        <dd class="col-sm-9">@Model.FirstName</dd>

        <dt class="col-sm-3">Last Name</dt>
        <dd class="col-sm-9">@Model.LastName</dd>

        <dt class="col-sm-3">Email</dt>
        <dd class="col-sm-9">@Model.Email</dd>

        <dt class="col-sm-3">Roles</dt>
        <dd class="col-sm-9">@string.Join(", ", roles ?? new List<string>())</dd>

        <dt class="col-sm-3">Paid Lessons</dt>
        <dd class="col-sm-9">@Model.PaidLessons</dd>

        <dt class="col-sm-3">Completed Lessons</dt>
        <dd class="col-sm-9">@Model.CompletedLessonsCount</dd>

        <dt class="col-sm-3">Scheduled Lessons</dt>
        <dd class="col-sm-9">@Model.ScheduledLessonsCount</dd>
    </dl>
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>